img {
    max-width: 100%;
}

#archiveTree {
    margin-top: 0%;
}

#archiveTreeYearBranch {
    margin-top: 1%;
    margin-left: 0%;
}

#archiveTreeMonthBranch {
    margin-top: 1%;
    margin-left: 1%;
}

#archiveTreePostLeaf {
    margin-top: 0%;
    margin-left: 2%;
    display:inline;
    font-size: x-large;
}

#archiveTreePostLeafDate {
    display:inline;
    color:dimgray;
}

@media all {
    html {
        font-family: 'brandon-grotesque', Open Sans, Helvetica, sans-serif;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    #post_creation_date {
        display: inline;
    }

    #post_creation_date {
        display: inline;
    }
}

/* Larger than mobile */
@media (min-device-width: 100px) {
    html {
        font-size: 50px;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-device-width: 550px) {
    html {
        font-size: 50px;
    }
}

/* Larger than tablet */
@media (min-device-width: 750px) {
    html {
        font-size: 40px;
    }
}

/* Larger than desktop */
@media (min-device-width: 1000px) {
    html {
        font-size: 30px;
    }
}

/* Larger than Desktop HD */
@media (min-device-width: 1200px) {
    html {
        font-size: 20px;
    }
}
