img {
    max-width: 100%;
}

#richTextField {
    height: 70vh;
    width: 100%;
}

#postTitle {
    font-family: "proxima-nova", Helvetica, sans-serif;
    font-size: 2.2em;
    color: #333;
    font-weight: bold;

    text-align:center;
}
#headerLinks {
alignment: center;
}
#postInfo {
    text-align:center;
}
#postTags {
    text-align:center;
}

#postBody {
    text-align: justify;
}

#archiveTreeYearBranch {
    margin-top: 1%;
}

#archiveTreeMonthBranch {
    margin-top: 1%;
    margin-left: 1%;
}

#archiveTreePostLeaf {
    margin-left: 2%;
    display:inline;
    font-size: x-large;
}

#archiveTreePostLeafDate {
    display:inline;
    color:dimgray;
}

@media all {
    html {
        /*font-family: 'brandon-grotesque', Open Sans, Helvetica, sans-serif;*/
        font-family: "proxima-nova", Helvetica, sans-serif;
    }

    a {
        color: #333;
        text-decoration: none;
    }
}

/* Larger than mobile */
@media (min-device-width: 100px) {
    html {
        font-size: 50px;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-device-width: 550px) {
    html {
        font-size: 50px;
    }
}

/* Larger than tablet */
@media (min-device-width: 750px) {
    html {
        font-size: 40px;
        max-width:30em;
        margin: auto;
    }
}

/* Larger than desktop */
@media (min-device-width: 1000px) {
    html {
        font-size: 30px;
        max-width:35em;
        margin: auto;
    }
}

/* Larger than Desktop HD */
@media (min-device-width: 1200px) {
    html {
        font-size: 20px;
        width:40em;
        margin: auto;
    }
}
