img {
    max-width: 100%;
}

#subscribeInputField{
    color:rgba(31, 113, 12, 0.96);
    font-weight:bold;
    -webkit-box-shadow:none;
    box-shadow:none;
    width:250px;
    height: 30px;
    vertical-align: middle;
}

#loginFormTitle {
    margin-left: 4%;
}

#postTitle {
    font-family: "proxima-nova", Helvetica, sans-serif;
    font-size: 2.2em;
    color: #333;
    font-weight: bold;

    text-align:center;
}
#postInfo {
    text-align:center;
}
#postTags {
    text-align:center;
}

#postBody {
    margin-left: 1%;
    text-align: justify;
}

#archiveTreeYearBranch {
    margin-top: 1%;
}

#archiveTreeMonthBranch {
    margin-top: 1%;
    margin-left: 1%;
}

#archiveTreePostLeaf {
    margin-left: 2%;
    display:inline;
    font-size: x-large;
}

#archiveTreePostLeafDate {
    display:inline;
    color:dimgray;
}

@media all {
    html {
        /*font-family: 'brandon-grotesque', Open Sans, Helvetica, sans-serif;*/
        font-family: "proxima-nova", Helvetica, sans-serif;
        font-size: 2.2em;
    }

    a {
        color: #333;
        text-decoration: none;
    }
}

/* Larger than mobile */
@media (min-device-width: 100px) {
    html {
        font-size: 50px;
        margin: auto;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-device-width: 550px) {
    html {
        font-size: 50px;
        margin: auto;
    }
}

/* Larger than tablet */
@media (min-device-width: 750px) {
    html {
        font-size: 40px;
        width:90vh;
        margin: auto;
    }
}

/* Larger than desktop */
@media (min-device-width: 1000px) {
    html {
        font-size: 30px;
        width:85vh;
        margin: auto;
    }
}

/* Larger than Desktop HD */
@media (min-device-width: 1200px) {
    html {
        font-size: 20px;
        width:80vh;
        margin: auto;
    }
}
