img {
    max-width: 100%;
}

#headerLinks {
    font-size: large;
    vertical-align: middle;
}

#loginFormTitle {
    margin-left: 4%;
}

#post_title {
    font-family: "proxima-nova", Helvetica, sans-serif;
    font-size: 2.2em;
    color: #333;
    font-weight: normal;
    margin-top: 1em;
    line-height: 1.3em;
}
#postTags {
    font-size: 1em;
    font-weight: lighter;
}

#post_body {
    margin-left: 1em;
}

#archiveTreeYearBranch {
    margin-top: 1%;
}

#archiveTreeMonthBranch {
    margin-top: 1%;
    margin-left: 1%;
}

#archiveTreePostLeaf {
    margin-left: 2%;
    display:inline;
    font-size: x-large;
}

#archiveTreePostLeafDate {
    display:inline;
    color:dimgray;
}

@media all {
    html {
        /*font-family: 'brandon-grotesque', Open Sans, Helvetica, sans-serif;*/
        font-family: "proxima-nova", Helvetica, sans-serif;
        font-size: 2.2em;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    #post_creation_date {
        display: inline;
    }

    #post_creation_date {
        display: inline;
    }
}

/* Larger than mobile */
@media (min-device-width: 100px) {
    html {
        font-size: 50px;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-device-width: 550px) {
    html {
        font-size: 50px;
    }
}

/* Larger than tablet */
@media (min-device-width: 750px) {
    html {
        font-size: 40px;
    }
}

/* Larger than desktop */
@media (min-device-width: 1000px) {
    html {
        font-size: 30px;
    }
}

/* Larger than Desktop HD */
@media (min-device-width: 1200px) {
    html {
        font-size: 20px;
    }
}
