html {
    font-size: 1em;
}

#richTextField {
    height: 70vh;
    width: 100%;
}

#postTitle {
    font-family: Circular, Georgia, serif; !important;
    font-size: 2.2em;
    color: #333;
    font-weight: bold;
    text-align:center;
}
#postInfo {
    text-align:center;
}
#archiveTree {
    text-align: left;
}
#archiveTreeMonthBranch {
    margin-left: 1%;
}

#archiveTreePostLeaf {
    margin-left: 2%;
    display:inline;
}

@media all {

    #blogBody {
        font-family: Circular, Georgia, serif; !important;
        text-align: center;
    }

    #postBody a {
        text-decoration: underline;
    }

    a {
        color: #333;
        text-decoration: none;
    }
}

/* Larger than mobile */
@media (min-device-width: 100px) {

    #blogBody {
        margin-right:2%;
    }

    #postBody {
        text-align: left;

    }

    #postBody img {
        float:left;
        max-width: 92vw;
        max-height: 92vh;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-device-width: 550px) {
    html {
    }

    #blogBody {
        margin-right: 2%;
    }

    #postBody {
        text-align: left;
    }

    #postBody img {
        max-width: 92vw;
        max-height: 92vh;
    }
}

/* Larger than tablet */
@media (min-device-width: 750px) {
    html {
    }

    #blogBody {
        max-width: 30em;
        width: 90%;
        margin-right: 2%;
    }

    #postBody {
        text-align: justify;
    }

    #postBody img {
        max-width: 92vw;
        max-height: 92vh;
    }
}

/* Larger than desktop */
@media (min-device-width: 1000px) {
    html {
    }

    #blogBody {
        max-width: 35em;
        width: 90%;
        margin: auto;
    }

    #postBody {
        text-align: justify;
        line-height: 1.6em;
    }

    #postBody img {
        max-width: 95vw;
        max-height: 95vh;

        float:left;

        margin-left: 50%;
        -webkit-transform: translateX(-52%);
        -moz-transform: translateX(-52%);
        -ms-transform: translateX(-52%);
        -o-transform: translateX(-52%);
        transform: translateX(-52%);
    }
}

/* Larger than Desktop HD */
@media (min-device-width: 1200px) {
    html {
    }

    #blogBody {
        max-width: 35em;
        width: 90%;
        margin: auto;
    }

    #postBody {
        text-align: justify;
        line-height: 1.8em;
    }

    #postBody img {
        max-width: 100vw;
        max-height: 100vh;

        float:left;

        margin-left: 50%;
        -webkit-transform: translateX(-52%);
        -moz-transform: translateX(-52%);
        -ms-transform: translateX(-52%);
        -o-transform: translateX(-52%);
        transform: translateX(-52%);
    }

}
