
extends ../layout

block content
    form(method="post", action=post ? '/post/edit/' + post.id : '/post/create')
      ul
         p
         input#title(name="title", placeholder="Title", value=post ? post.title : '')
         p
         textarea#body(name="body", placeholder="Blog post text", rows="20", cols="50")
            if(post)
                | #{post.body}
            else
                | &#09
         p
         input(type="submit", value="Save")