extends ../layout

block content
    script
        include wysiwyg.js

    form#createPost(method="post", action=post ? '/post/edit/' + post.id : '/post/create')
        ul
            input#title(name="title", placeholder="Title", value=post ? post.title : '', autocomplete='off')
            #wysiwyg_cp(style="padding:8px; width:700px")
                input(type="button", onClick="iBold();", value="B")
                input(type="button", onClick="iUnderline();", value="U")
                input(type="button", onClick="iItalic();", value="I")
                | &nbsp&nbsp
                input(type="button", onClick="iFontSize();", value="Text size")
                input(type="button", onClick="iForeColor();", value="Text color")
                | &nbsp&nbsp
                input(type="button", onClick="iUnorderedList();", value="UL")
                input(type="button", onClick="iOrderedList();", value="OL")
                | &nbsp&nbsp
                input(type="button", onClick="iLink();", value="Link")
                input(type="button", onClick="iUnlink();", value="Unlink")
                input(type="button", onClick="iImage();", value="Image")
            textarea#blogPostBody(style="display:none", name="blogPostBody", placeholder="Blog post text", rows="20", cols="50")
            iframe#richTextField(name="richTextField", onload="iFrameOn();", height="100$", width="100%", srcdoc=post ? post.body : '')
            p
            input(onClick="submitForm();", type="button", name="myBtn", value="Save")
        #errorBox
            p
            if (error)
                | #{error}

            //More WYSIWYG stuff
//            http://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_forms_popup
//    http://jsfiddle.net/kWLcx/21/
//        http://stackoverflow.com/questions/20959737/browse-image-and-insert-into-iframe

