
extends ../layout

block content
    script
        include ./../../css/js/wiz.js
    form#createPost(method="post", action=post ? '/post/edit/' + post.id : '/post/create')
        ul
         p
         input#title(name="title", placeholder="Title", value=post ? post.title : '', autocomplete='off')
         p
         #wysiwyg_cp(style="padding:8px; width:700px")
             input(type="button", onClick="iBold();", value="B")
             input(type="button", onClick="iUnderline();", value="U")
             input(type="button", onClick="iItalic();", value="I")
             input(type="button", onClick="iFontSize();", value="Text size")
             input(type="button", onClick="iForeColor();", value="Text color")
             input(type="button", onClick="iUnorderedList();", value="UL")
             input(type="button", onClick="iOrderedList();", value="OL")
             input(type="button", onClick="iLink();", value="Link")
             input(type="button", onClick="iUnlink();", value="Unlink")
             input(type="button", onClick="iImage()", value="Image")
         p
         textarea#blogPostBody(style="display:none", name="blogPostBody", placeholder="Blog post text", rows="20", cols="50")
         iframe#richTextField(name="richTextField", onload="iFrameOn();")
            if(post)
                | #{post.body}
            else
                | &#09
         p
            input(onClick="submitForm()", type="button", name="myBtn", value="Save")
