doctype html
html
    head
        style
            include ../css/style1.css
        title= pageTitle
body
    header
    h1= pageTitle
    section.login
        ul
            span
                a(href='/') This week
                | &#09 &#149 &#09
                a(href='/archive') Archive
            if (isLoggedIn == true)
                | &#09 &#149 &#09
                a(href='/a/create') New post
                | &#09 &#149 &#09
                a(href="/logout") Logout
            else
                | &#09 &#149 &#09
                a(href="/login") Login
                | &#09 &#149 &#09
                a(href="/register") Register
    section.content
    block content
